<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.ictkerala.testcases.AdminTest"/>
      <class name="org.ictkerala.base.TestBase"/>
      <class name="org.ictkerala.testcases.UserTest"/>
    </classes>
    testng.xml
    <listeners>
    <listener class-name="Listeners.Listener"/>
</listeners>
  </test> <!-- Test -->
</suite> <!-- Suite -->
